.rtl,
.ui.input.rtl > input {
  text-align: right;
  direction: rtl;
}

.form-label {
  width: 100%;
  display: block;
  text-align: right;
}

.tox.tox-tinymce,
.ui.input > input,
.ui.input > textarea {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 3px 0;
  direction: rtl !important;
  border: none;
  transition: 0.3s;
}

.tox.tox-tinymce:focus,
.tox.tox-tinymce:hover,
.ui.input > input:focus,
.ui.input > input:hover,
.ui.input > textarea:focus,
.ui.input > textarea:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35), 0 4px 8px rgba(0, 0, 0, 0.05);
}

.tox-notifications-container {
  display: none;
}

.tox-statusbar {
  border: none !important;
  direction: ltr !important;
}

.tox-statusbar a {
  display: none;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  direction: ltr;
}

.tox .tox-tbtn--bespoke[title='اندازه فونت'] .tox-tbtn__select-label {
  width: 35px;
}

.tox .tox-tbtn--bespoke[title='فونت‌ها'] .tox-tbtn__select-label {
  width: 50px;
}

.tox .tox-tbtn--bespoke[title='Formats'] .tox-tbtn__select-label {
  width: 50px;
}

.tox .tox-dialog {
  direction: rtl;
}

.ui.message .header {
  font-family: iranyekan;
}

.persian-input .ui.input > input::placeholder {
  text-align: right;
}

h1.ui.header {
  font-weight: 800;
}

h2.ui.header {
  font-weight: 600;
}

h3.ui.header {
  font-weight: 500;
}

.ui.label.selectable-tag {
  filter: drop-shadow(0px 1px 2px #333333);
  transition: 0.3;
}

.ui.label.selectable-tag:hover {
  background: rgb(72, 116, 235);
  color: white;
}

.ui.label.selectable-tag::before {
  background: #f3f3f3;
  border-radius: 3px;
}

.ui.label.selectable-tag.selected::before,
.ui.label.selectable-tag.selected {
  background: rgb(53, 98, 223);
  color: white;
}

.ui.label.selectable-tag:hover,
.ui.label.selectable-tag:focus {
  background: rgb(72, 116, 235);
  cursor: pointer;
}

.ui.label.selectable-tag.selected:hover::before,
.ui.label.selectable-tag:hover::before,
.ui.label.selectable-tag.selected:focus::before,
.ui.label.selectable-tag:focus::before {
  background: rgb(72, 116, 235);
}

.ui.label.selectable-tag::before,
.ui.label.selectable-tag {
  background: #fafafa;
}

.ui.label.selectable-tag.not-selected {
  border: 1px solid #ccc;
}

.ui.label.selectable-tag.not-selected::before {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
